h1 {
  color: blue;
}

h2 {
  font-style: italic;
  text-align: center;
}

p {
  font-family: sans-serif;
}

ul {
  font-size: 15px;
  line-height: 20px;
}
ol.important {
  font-style: oblique;
  color: green;
  }

.test-list {
  border: 1px solid black;
  display: inline-block;
  margin-right: 300px;
}

.test-image {
  border: 1px solid black;
  display: inline-block;
}
